<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.frayeralex.bibiphelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />

        <activity
            android:name=".activities.EventDetails"
            android:label="@string/label_details_event"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.CategoriesActivity"
            android:label="@string/label_categories"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.HelpFormActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.CategoriesActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.WaitHelpActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.HelpFormActivity" />
        <activity
            android:name=".activities.CloseEventActivity"
            android:label="@string/label_close_event"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.WaitHelpActivity" />
        <activity
            android:name=".activities.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ListEventActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
    </application>

</manifest>